.character-card {
  width: 100%;
  overflow: hidden;
  background-color: var(--color-background-card);
  transition: transform var(--transition-normal);
  box-shadow: var(--box-shadow);
  position: relative;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 93%,
    90% 100%,
    0% 100%
  );
}

.character-card:hover {
  transform: translateY(-5px);
}

.character-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.character-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform var(--transition-normal);
}

.character-card:hover .character-image img {
  transform: scale(1.05);
}

.character-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  background-color: var(--color-background-dark);
  position: relative;
}

.character-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--color-favorite);
  transition: height 0.3s ease;
  z-index: 1;
}
.character-card:hover .character-info::before {
  height: 100%;
}

.character-name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-primary);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  z-index: 2;
}

.favorite-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs);
  transition: transform var(--transition-fast);
  z-index: 2;
}

.favorite-button:hover {
  transform: scale(1.1);
}

.favorite-button .heart-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-favorite-inactive);
  stroke: var(--color-text-primary);
  stroke-width: 1px;
  transition: fill var(--transition-fast);
}

.favorite-button .heart-icon.outline {
  fill: white;
  stroke: white;
  transition: all 0.2s ease;
}

.favorite-button.active .heart-icon.filled {
  fill: var(--color-favorite);
  stroke-width: 0;
  transition: all 0.2s ease;
}

.character-card:hover .favorite-button.active .heart-icon.filled {
  fill: var(--color-text-primary);
}
