.character-page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-white);
}

.character-page .container {
  position: relative;
  max-width: 1512px;
  margin: 0 auto;
  display: flex;
}

.comics-section {
  padding: var(--spacing-xl);
  background-color: var(--color-background-white);
}

.comics-section .container {
  flex-direction: column;
  text-align: start;
}

@media (max-width: 834px) {
  .character-page .container {
    width: auto;
    display: flex;
    padding: var(--spacing-lg);
  }
}

@media (max-width: 480px) {
  .character-page .container {
    flex-direction: column;
  }

  .comics-section {
    padding: var(--spacing-lg);
    width: inherit;
  }
}
