.character-page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-white);
}

.character-page .container {
  position: relative;
  width: 1512px;
  margin: 0 auto;
  display: flex;
}

.character-page .hero-section {
  overflow: hidden;
  background-color: var(--color-background-dark);
  color: var(--color-text-primary);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 94%,
    99% 100%,
    0% 100%
  );
}
.character-page .detail-hero{
  width: 30%;
}

.character-page .character-info {
  padding: var(--spacing-xl);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: start;
}

.character-page .favorite-button-container {
  position: absolute;
  top: var(--spacing-xl);
  right: var(--spacing-xl);
  z-index: 10;
}

.character-page .comics-section {
  padding: var(--spacing-xl);
  width: 100%;
  background-color: var(--color-background-white);
}

.character-page .comics-section .container{
  flex-direction: column;
  text-align: start;
}

.character-page .comics-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: var(--spacing-lg);
  color: var(--color-text-dark);
}

.character-page .comics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-xl);
  overflow-x: scroll;
  padding: var(--spacing-md) 0;
}

.character-page .comic-item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-card);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-normal);
}

.character-page .comic-item:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.character-page .comic-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.character-page .comic-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}


.character-page .comic-info {
  padding: var(--spacing-md);
}

.character-page .comic-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
}

.character-page .comic-year {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .character-page  .comics-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing-lg);
  }

  .character-page .comic-image {
    height: 220px;
  }
}

@media (max-width: 480px) {
  .character-page .character-info,
  .character-page .comics-section {
    padding: var(--spacing-lg);
  }

  .character-page .comics-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: var(--spacing-md);
  }

  .character-page .comic-image {
    height: 180px;
  }
}
